@import "../../styles/utils/_index.scss";

.container {
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 16px;
  align-items: start;

  @include mobile() {
    grid-template-columns: 1fr 1fr;
  }
}

.error {
  color: $red-error;
  text-align: center;
}
